@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --text-color: #333;
    --primary-color: #c724b1;
    --secondary-color: #00a9ce;
    --tertiary-color: #753bbd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    background: var(--background);
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    margin: 0 auto;
}

@layer utilities {
    .text-shadow {
        text-shadow: 2px 2px #8d007c;
    }
}

@layer components {
    .du_container {
        max-width: 1266px;
        width: 100%;
        margin: 0 auto;
    }

    .du_nav {
        width: 100%;
        background: linear-gradient(315deg, #753bbd, #00a9ce 67.21%, #00a9ce);
    }

    .du_nav-top {
        height: 30px;
    }

    .du_nav-bottom {
        min-height: 81px;
        margin-inline: 10px;
    }

    .active {
        opacity: 1;
        background-color: #096583;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        padding: 0 10px;
    }

    .icon {
        width: 100%;
        max-width: 25px;
        height: auto;
        max-height: 25px;
        color: #ffffff;
    }

    .basket-icon::after {
        content: '1';
        color: #fff;
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #c724b1;
        z-index: 10;
        position: absolute;
        top: -5px;
        right: -8px;
        text-align: center;
    }

    .login-border {
        background: linear-gradient(45deg, #824bc7 6%, #d92cc1 53%);
        border-radius: 7px;
        color: #c700b1;
        padding: 10px 25px 10px 25px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .login-border::before {
        content: '';
        background: white;
        position: absolute;
        display: inline-block;
        height: 90%;
        width: 95%;
        border-radius: 5px;
        z-index: -1;
    }

    .login-border::before:hover {
        content: '';
        background: transparent;
    }

    .login-border:hover {
        color: #fff;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .hamburger-line {
        width: 20px;
        height: 2px;
        background-color: var(--text-color);
        border-radius: 5px;
    }

    .mobile-menu {
        background: linear-gradient(135.4deg, #c724b1, #753bbd 30.52%, #00a9ce);
        color: #fff;
    }

    @media (max-width: 1024px) {
        .mobile-link {
            border-bottom: 1px solid rgba(245, 245, 245, 0.9);
            width: 100%;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .mobile-link:hover {
            background-color: #c724b1;
        }
        .mobile-link:last-child {
            border-bottom: none;
        }
        .mobile-link:first-child {
            padding-top: 10px;
        }
    }

    .desktop-menu {
        background: #fff;
        color: var(--text-color);
        height: auto;
    }

    .desktop-link {
        border-bottom: 2px solid transparent;
        padding: 0;
        width: auto;
    }

    @media (min-width: 1025px) {
        .desktop-link:hover {
            border-bottom: 2px solid #333;
        }
    }
}

/* Hero */

.hero-bg-image {
    background-image: url(../../public/images/bg-mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% center;
    width: 100%;
    height: 100%;
    min-height: 350px;

    @media screen and (min-width: 650px) {
        background-image: url(../../public/images/bg.webp);
        background-position: 50% center;
    }
}

.sticker-offer {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(0deg, #9d31b3 1%, #c700b1 35%, #c700b1);
    position: absolute;
    top: 15px;
    right: 0;

    @media screen and (min-width: 680px) {
        width: 150px;
        height: 150px;
        top: 40px;
        right: 0;
    }

    @media screen and (min-width: 768px) {
        width: 180px;
        height: 180px;
        top: 40px;
        right: -20px;
    }
}

.icon-hero {
    width: 100%;
    max-width: 15px;
    height: auto;
    max-height: 15px;
    opacity: 0.5;
}

.border-color {
    background: linear-gradient(45deg, #3e0a7e, #652caa 17%, #00a9ce);
}

.color-gradient {
    background-image: linear-gradient(45deg, #3e0a7e, #652caa 17%, #00a9ce);
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.offer-border {
    background: linear-gradient(45deg, #3e0a7e, #652caa 17%, #00a9ce);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.offer-border::before {
    content: '';
    background: white;
    position: absolute;
    display: inline-block;
    height: 93%;
    width: 98.5%;
    top: 1.85px;
    left: 1.85px;
    border-radius: 4px;
    z-index: -1;

    @media screen and (max-width: 680px) {
        height: 97%;
    }
}

@media screen and (max-width: 602px) {
    .overflow-x-scroll-xs {
        overflow-x: scroll;
    }
}

.plan-border::before {
    content: '';
    @apply rounded-l-lg;
    background: linear-gradient(
        180deg,
        var(--primary-color) 15%,
        var(--secondary-color) 35%
    );
    z-index: 1;
    width: 9px;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
